*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
    color: $text-100;
    @include tablet{
        font-size: 5rem;
    }
}

body{
    background-color: $bg-300;
}

a{
    text-decoration: none;
}

main{
    min-height: 100vh;
}