:root{
    --primary-100:#c01616;
    --primary-200:#fa5440;
    --primary-300:#ffbb9a;
    --accent-100:#c22020;
    --accent-200:#ffc0a5;
    --text-100:#787878;
    --text-200:#a7a7a7;
    --bg-100:#000000;
    --bg-200:#161616;
    --bg-300:#2c2c2c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
}


body{
    background-color: var(--bg-300);
}

a{
    text-decoration: none;
}

.heading{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-100);
}


/*Header*/

.header__contenedor{
    min-height: 100vh;
    background: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../img/fondo.webp) no-repeat center;
    background-size:cover;
    box-shadow: -1px 2px 16px 0px #010101;
}

.navbar-nav{
    gap: 1.2rem;
}

.nav-item{
    font-size: 1.4rem;
}

.header__principal{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 0 4rem;
    gap: 4rem;
}


.header__principal h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var( --accent-100);
    letter-spacing:0.2rem
}

.header__principal span{
    color: var(--text-100);
}

.header__principal p{
    color: var(--text-100);
    font-size: 1.5rem;
    width: 50%;
    line-height: 3rem;
}

.header__principal button,
.planes__card button{
    padding: 1rem 2rem;
    width: fit-content;
    text-transform: uppercase;
    border: none;
    background-color: var(--primary-100);
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 1.3rem;
    letter-spacing:0.2rem;
    transition: opacity .3s ease;
}

.header__principal a{
    text-decoration: none;
    color: lightgrey;
}

.header__principal button:hover,
.planes__card button:hover{
    cursor: pointer;
    opacity: .8;
}

/*Main*/
main{
    min-height: 100vh;
}

.contenedor__planes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem;
}

.planes{
    display: flex;
    flex-direction: column;
}

.planes h2{
    text-align: center;
    color: lightgrey;
    font-size: 2.5rem;
    margin-top: 3rem;
    font-weight: 400;
}

.planes__card{
    display: flex;
    margin-top: 7rem;
    justify-content: space-around;
    text-align: center;
    
}

.planes__card .plan1{
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/fondoPlan1.webp) no-repeat center;
    background-size: cover;

}


.planes__card .plan2{
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/fondoPlan2.webp) no-repeat center;
    background-size: cover;
    
}


.planes__card figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    height: 500px;
    width: 400px;
    padding: 2rem;
    background-color: var(--primary-100);
    border-radius: 10px;
}

.planes__card figure figcaption{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: var(--primary-100);
}

.planes__card figure p{
    color: lightgrey;
}

.planes__card button{
    align-self: center;
}

.contenedor__galeria{
    min-height: 100vh;
    padding: 4rem;
}

.contenedor__galeria h2{
    text-align: center;
    color: lightgrey;
    font-size: 2.5rem;
    margin-top: 3rem;
    font-weight: 400;
}

.contenedor__galeria .galeria{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 400px;
    gap: 2rem;
}   

.contenedor__galeria .galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor__galeria .galeria img:nth-child(3){
    grid-row-start: span 2;
}

/*FOOTER*/


.p__footer{
 color: var(--text-200);

}

.redes{
    display: flex;
    gap: 1.5rem;
}

.redes svg{
    color: var(--primary-100);
    transition: color .3s ease;
}

.redes svg:hover{
    color: var( --accent-100);
}


/*Nosotros*/

.cards h3{
    margin-top: 1.4rem;
    color: var( --accent-100);
}

.cards p{
    color: var(--text-100)
}

/*CONTACTO*/


.formulario form label{
    color: var(--text-100);
    font-size: 1.3rem;
}

.formulario form input{
    padding: 0.5rem;
}

.img-responsive{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.formulario form input[type="submit"]{
    border: none;
    background-color: var( --accent-100);
    font-size: 1.3rem;
    align-self: flex-end;
    padding: 0.6rem 1.6rem;
    font-weight: 700;
    transition: opacity .3s ease;
}

.formulario form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 0.8;
}

/*PLANES*/

.planes .planes_info{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 1rem;
 justify-items: center;
}

.planes .planes__titulo{
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: 700;
    color: var(--text-100);
    margin-left: 5rem;
    align-self: flex-start;
}

.planes p{
    color: var(--text-100);
    font-size: 1.3rem;
    margin-top: 1.5rem;
    text-align: center;
}

.planes__card .plan3{
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/fondoPlan3.webp) no-repeat center;
    background-size: cover;
}

.planes__card .plan4{
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/fondoPlan4.webp) no-repeat center;
    background-size: cover;
}


/*SERVICIOS*/


.servicios__horario{
    padding: 3rem;
}

.servicios__horario h2, 
.servicios__suplementacion h2,
.servicios__testimonios h2{
    color: var(--text-100);
    font-size: 2.5rem;
    text-align: center;
}

.servicios__horario p{
    line-height: 2rem;
    text-align:center;
    font-size: 1.3rem;
    color: var(--text-200);
}

.servicios__suplementacion{
    padding: 4rem;
}

.servicios__suplementacion .cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    margin-top: 4rem;
}

.cards .card__suplementacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px;
    padding: 2rem;;
    height: 400px;
    width: 400px;
}

.cards .card__suplementacion figcaption{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: var(--primary-100);
}

.cards .card__suplementacion p{
    color: lightgrey;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

.cards .card__suplementacion:nth-child(1){
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/suplementacion1.webp) no-repeat center;
    background-size: cover;
}
.cards .card__suplementacion:nth-child(2){
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/suplementacion2.webp) no-repeat center;
    background-size: cover;
}
.cards .card__suplementacion:nth-child(3){
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .7)), url(../img/suplementacion3.webp) no-repeat center;
    background-size: cover;
}

.servicios__testimonios{
    padding: 4rem;
}

.servicios__testimonios .testimonios__card{
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.testimonios__card figure{
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
    border: var( --accent-100) solid 1px;
    border-radius: 5px;
}

.testimonios__card figure div{
    display: flex;
    align-items:center;
    gap: 1.5rem;
}

.testimonios__card figure img{
    width: 80px;
    border-radius: 50%;
    align-self: center;
}

.testimonios__card figcaption{
    color: var( --accent-100);
    font-weight: 700;
    font-size: 1.3rem;
}

.testimonios__card p{
    color: var(--text-200);
}

@media(min-width:756px){
    .heading{
        font-size: 5rem;
    }
}